
body {
    background-color: rgb(51,64.175,76.5);
}

.headerBar {
    height: 10%;
    background-color: rgb(31.008, 40.8, 50.592);
    box-shadow: var(--header-shadow);
    --header-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.title {
    font-size: 35px;
    font-family: sans-serif;
    transition: color 300ms;
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
    color: rgb(245, 245, 245);
    text-underline-mode: none;
    text-underline: none;
    font-weight: bold;
}

.title:hover {
    cursor: default;
    color: rgb(245, 245, 245);
}


.navBar {
    padding: 10px;
    height: 10%;
    --header-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--header-shadow);
    color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(62.73,76.959,90.27);
}

a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

a:hover {
    color: #d5d5d5;
    transition: color 300ms;
}

.loginMenu {
    width: 90%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(62.73,76.959,90.27);
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    text-align: center;

}

.iconPhoto {
    font-size: 100px;
    color: rgb(205, 205, 205);
    margin-bottom: 25px;
}

.textBox {

    border-color: #606d7b;
    border-width: 1px;
    border-radius: 0.25em;
    color: #cad1d8;
    background-color: #515f6cbb;
}

.textBox::placeholder {
    color: #cad1d8;
}

.textBox:focus{
    border-color: #606d7b;
    border-width: 1px;
    border-radius: 0.25em;
    color: #cad1d8;
    background-color: #515f6cbb;
    outline: none;
}

.chooseFile {
    border: none;
    background-color: #3aa807;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.chooseFile:hover {

}

.uploadButton {
    border: none;
    background-color: #0558ba;
    border-radius: 10px;
}

.uploadButton:hover {
    background-color: #054d9e;
}

button {
    color: red;
}

#fdataUploader {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.menuTitle {
    color: #e0e0e0;
    font-weight: bold;
    margin-bottom: 20px;
}

.err::-webkit-input-placeholder {
    color: red;
}
.success::-webkit-input-placeholder {
    color: green;
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.errorMessage {
    text-align: center;
    margin-top: 5%;
    color: #d5d5d5;
    font-size: 50px;
    font-weight: bold;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #515f6cbb !important;
}

.alertError {
    background-color: #9c0e0e !important;
    border: 1px solid #6d0c0c;
    color: white;
    height: 50px;
    padding-bottom: 6px;
    margin-bottom: 0;
}

.alertSuccess {
    background-color: #07a00d !important;
    border: 1px solid #0a6616;
    color: white;
    height: 50px;
    padding-bottom: 6px;
    margin-bottom: 0;
}

.copyLink {
    cursor: pointer;
    color: white;
    transition: color 200ms;
    font-weight: bold;
}

.copyLink:hover {
    color: #dcffcd;
    transition: color 200ms;
}
